/*colors-start*/

.head{
    background-color: #1F2937;
    margin:0;
}

h1{
    font-size: 48px;
    color:#F9FAF8;
    font-weight: bolder;
}


button{
    background-color: #3882F6;
    color:white;
}

h4,a{
    color:#E5E7EB;
   
}
body{
    background-color: black;
    margin:0 60px;
}

.one{
    background-color:#F9FAF8;
    margin:0;
}


/*colors-end*/

/*header-start*/

.logo{
    width: 50px;
    height:50px;
    
}

.Gym_Image{
    width: 300px;
    height: 300px;
}

.top{
    display:flex;
    justify-content: space-around;
    margin-bottom: 40px;
    padding:20px;
}
.links{
    display: flex;
    gap:40px;
    align-items: center;
}

.bottom{
    display: flex;
    justify-content: space-around;
}

.heading{
    margin-bottom:0;
}
.content{
    margin-top:0;
}

/*header-end*/

/*body - first part*/

.one_images{
    width:200px;
    height:200px;
}

.one_heading{
    text-align: center;
    margin-bottom:40px;
    margin-top:0;
    padding:20px;
}

.body_of_part_1{
display: flex;
justify-content: space-evenly;

}
h3{ margin:0;
    text-align: center;
}

/*second-start*/
.second{
    background-color:#E5E7EB;
    font-size:36px;
    height: 100px;
    padding:60px;
    
}

.qoute{
    align-items: center;
    color: #1F2937;
    font-family:italic;
    font-size:36px;
    text-align: center;
}

.author{
    font-weight:bold;
    font-size:20px;
    margin-top:0;
    text-align: right;
    margin-right:40px;

}

/*fourth-section*/
.third{
    color:white;
   
    padding:40px;
    background-color: white;
}

.signup{
    background-color: #3882F6;
    margin:0;
    justify-content: center;
    gap:40px;
    display: flex;
    height:100px;
    align-items: center;
}

.text{
    margin:0;
}
.total_texts{
    padding:10px;
    
}

/*fourth-section-end*/

/*footer*/

footer{
    background-color:#1F2937 ;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#E5E7EB;
}